.search-results {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.total-search-results {
  text-transform: uppercase;
  border-bottom: solid var(--medium-bg-color) 3px;
}

.search-result {
  padding: 15px 0;
  border-bottom: solid var(--medium-bg-color) 3px;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 20px;
}
.search-result p, .search-result h1, .search-result h3 {
  margin: 0;
}
.search-result h1 {
  font-family: 'PT Serif', serif;
  color: white;
  font-size: 1.5rem;
  display: inline-block;
  margin-right: 10px;
}
.search-result h1:hover {
  color: var(--logo-blue);
  cursor: pointer;
}
.search-result h3 {
  font-weight: 400;
  display: inline-block;
}
.search-result p {
  font-size: 0.75rem;
}
.search-book-cover {
  grid-row: 1/3;
  height: 100px;
}
