@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --main-bg-color: #202830;
  --dark-bg-color: #14181C;
  --medium-bg-color: #2C3440;
  --light-bg-color: #99AAB1;
  --accent-color: #00B020;

  --logo-orange: #FF8000;
  --logo-green: #00E054;
  --logo-blue: #40BCF4;
}
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
}